Thumbs.db
*.PDM
*.snk
*.bak
*.scc
*.SCC
*.dat
*.fdb
*.mdb
*.nfo
*.aspr*
*.hlp
*.chm
*.lnk
*.log
*.bin
*.db
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.txt
*.dll
*.ocx
*.tlb
*.tmp
*.oca
*.iss
*.ddf
*.bat
*.lst
*.rar
*.zip
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.pdf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr